<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pike MS - 7th Grade Science</title>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../javascripts/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/nat_sel_manipulative.css">
  </head>
  <body>
    {{{body}}}








    <!-- JAVASCRIPT LINKS -->
    <script src="../javascripts/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <script src="../javascripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="../javascripts/nat_sel_manipulative.js"></script>
  </body>
</html>
