<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{!-- load fontawesome script --}}
    <script src="https://use.fontawesome.com/448458d43e.js"></script>
    {{!-- load exo font --}}
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    {{!-- link main style stylesheet --}}
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    {{{body}}}
    <!-- JAVASCRIPT LINKS -->
    <script src="../javascripts/main.js"></script>
  </body>
</html>
