<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title from main.handlebars</title>
  </head>
  <body>
    <h1>This should be on every page!</h1>
    {{{body}}}
  </body>
</html>
