<div class="pageContainer">
  <div class="row1Group">
    <h1>7th Grade Science</h1>
    <h4>- by Logan Wood (Pike Middle School)</h4>
    <div class="dropDown">
      <i class="fa fa-bars dropbtn" aria-hidden="true" onclick="dropDownMenu()"></i>
      <div id="dropDownMenu" class="dropdown-content">
        <a href="/">Home</a>
        {{!--
        <a href="/digitalManipulative1_1_Sec_1">Manipulative 1.1</a> --}}
        <a href="/digitalManipulative4_1_Sec_1">Manipulative 4.1</a>
        <a href="/digitalManipulative4_3_Sec_1">Manipulative 4.3</a>
        <a href="/digitalManipulative6_1_Sec_1">Manipulative 6.1</a>
      </div>
    </div>
  </div>
  <!-- END ROW 1 GROUP -->

  <div class="row2Group">
    <div class="mainContent">
      Content coming soon to main page.
    </div>
  </div>
  <!-- END ROW 2 GROUP -->

  {{!--
  <div class="row3Group">
    <div class="footer">
      FOOTER STUFF HERE
    </div>

  </div>
  <!-- END ROW 3 GROUP -->--}}
</div>