<link rel="stylesheet" href="/stylesheets/won.css">


<a id="homeLink" href="/">Head back home!</a>

{{!--
<h1 id="winStatement">
    <div class="box red">
        <h3>You</h3>
    </div>
    <div class="box blue">
        <h3>just</h3>
    </div>
    <div class="box purple">
        <h3>won</h3>
    </div>
    <div class="box yellow">
        <h3>!!!</h3>
    </div>
</h1> --}}
<div class="won card blue darken-1 center-align">
    <h1>You Won!!!</h1>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
<script src="/javascripts/wonAnime.js"></script>